@model TaskFlow.Application.ViewModels.Task.ListTaskForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddTask">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var task in Model.Tasks) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => task.Id)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => task.Name)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => task.CategoryId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  taskId = task.Id }) |
                    @Html.ActionLink("Details", "ViewTaskDetails", new {  taskId = task.Id }) |
                    @Html.ActionLink("Remove", "Remove", new { taskId = task.Id })
            </td>
        </tr>
}
    </tbody>
</table>
