@model TaskFlow.Application.ViewModels.Task.ListTaskForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>All tasks</h1>

<p>
    <a asp-action="AddTask">Create New</a>
    

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var task in Model.Tasks) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => task.Id)
            </td>
             <td>
                    @*@Html.DisplayFor(modelItem => task.Name)*@
                    @Html.ActionLink(task.Name, "ViewTaskDetails", "Task", new { taskId = task.Id }, null)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => task.Category.Name)
            </td>          
            <td>
                    @Html.DisplayFor(modelItem => task.Priority.Name)
            </td>    
            <td>
                    @Html.DisplayFor(modelItem => task.Status.Name)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditTask", new {  taskId = task.Id }) |
                    @Html.ActionLink("Details", "ViewTaskDetails", new {  taskId = task.Id }) |
                    @Html.ActionLink("Remove", "Remove", new { taskId = task.Id })
            </td>
        </tr>
}
    </tbody>
</table>
